* {
    font-size: 24px;
    font-family: "Roboto Mono";
    font-weight: 400;
}

body {
    background-color: #191919;
    color: #FFFFFF;
}

#license_footer {
    text-align: center;
}

#license {
    text-align: left;
}

button {
    color: white;
    background-color: #191919;
    border: none;
    outline: none;
}

.center_div {
    display: flex;
    justify-content: center;
    text-align: center;
}

#wotd_opt {
    text-align: left;
    margin-bottom: 0px;
}

.submit_btn {
    height: 20px;
    padding: 0px;
}

.search {
    text-align: left;
    width: 305px;
    height: 20px;
    background-color: #191919;
    border: none;
    margin-bottom: 4px;
    outline: none;
    color: #FFFFFF;
}

.longer {
    width: 400px;
}

.add_color {
    height: 20px;
}

.text {
    margin: 0px;
}

#pos {
    font-weight: 200;
    font-style: italic;
    margin: 2px;
}

#word {
    font-weight: 700;
    font-size: 30px;
    margin-top: 0px;
}

.detailedinfo {
    margin-bottom: 10px;
}

#def {
    margin-top: 14px;
}

#imp {
    font-weight: 700;
    margin: 8px;
}

.opt {
    margin: 0px;
}
#get_meaning {
    text-decoration-line: underline;
}