<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dict: {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap" rel="stylesheet">
</head>
<body>
    <div style="text-align: center;">
        {{ not_found|safe }}
    </div>
    <div class="center_div">
        <form action="/word" method="post" id="word_form">
            <input class="search" placeholder="Word" name="word" autocomplete="off" autofocus>
            <button type="submit" class="submit_btn">Search</button>
        </form>
    </div>
    {% block body %}{% endblock %}
</body>
</html>