{% extends "layout.html" %}

{% block body %}
    <div id="center_div">
        <form action="/back">
            <button class="submit_btn" type="submit">Back</button>
        </form>
        <!-- <textarea id="search" placeholder="Search"></textarea> -->
    </div>
    <div id="word-display">
        <p id="word" class="text">{{ word }}</p>
        <p id="pos">{{ pos|safe }}</p>
        <p id="def" class="text detailedinfo"><p id="imp">Definition:</p> {{ definition|safe }}</p>
        <p id="sentence" class="text detailedinfo"><p id="imp">Sentence:</p> {{ sentence|safe }}</p>
        <p id="synonyms" class="text detailedinfo"><p id="imp">Synonyms:</p> {{ syn|safe }}</p>
    </div>
    <!-- <script src="script.js"></script> -->
{% endblock %}